version: "3.9"
services:
#  frontend:
#    image: webui:latest
#    env_file:
#      - nlp.env
#    build:
#      context: ./src/webui/
#      dockerfile: Dockerfile
#    ports:
#      - "${UI_SERVICE_PORT}:${UI_SERVICE_PORT}"
#    environment:
#      IMAGE_DB_URL: "http://image_db:${IMAGE_DB_PORT}"
#      CAPTION_SERVICE_URL: "http://caption_service:${}"
#    networks:
#      - inner
#    depends_on:
#      - image_db
#      - caption_service
  image_db:
    image: image_db:latest
#    env_file:
#      - nlp.env
    build:
      context: ./src/image_db/
      dockerfile: Dockerfile
    ports:
      - "${IMAGE_DB_PORT}:${IMAGE_DB_PORT}"
    volumes:
#      - "uploaded_images:/uploaded_images/"
      - "mounted_images:/mounted_images/"
    networks:
      - inner
    environment:
      IMAGE_DB_ADDR: 0.0.0.0:8081
      DATABASE_URL: "/data/db/images.db"
      DATA_DIR: "/data/db/"
      IMAGE_UPLOAD_DIR: "/data/uploaded_images/"
      MOUNTED_IMAGE_DIR: ""
    depends_on:
      - weaviate
  weaviate:
    image: docker.io/semitechnologies/weaviate:1.9.0
    ports:
     - "8080:8080"
    networks:
      - inner
    environment:
      LOG_LEVEL: "debug"
      QUERY_DEFAULTS_LIMIT: 20
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: "./data"
      DEFAULT_VECTORIZER_MODULE: multi2vec-clip
      CLIP_INFERENCE_API: "http://multi2vec-clip:8080"
      ENABLE_MODULES: "multi2vec-clip"
  multi2vec-clip:
    image: semitechnologies/multi2vec-clip:sentence-transformers-clip-ViT-B-32-multilingual-v1-783f3f9
    networks:
      - inner
    environment:
      ENABLE_CUDA: '1'
networks:
  inner:
    name: inner
    driver: bridge
volumes:
    mounted_images:
      driver: local
      driver_opts:
        o: bind
        type: none
        device: ./image_cache
